.about {
    margin-top: 4rem;
    
    .about-subtitle {

        h1 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }

        h2 {
            max-width: 500px;
            font-size: 1.2rem;
            color: map-get($colors, dark-grey);
        }
    }

    img {
        display: block;
        width: 294px;
        margin: 2rem auto;
        filter: unset;
    }

    .about-content {
        p:nth-child(2){
            margin: 1rem auto;
        }
    }

    @media screen and (min-width: 800px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr 1fr 1fr;
        gap: 10px 30px;
        grid-auto-flow: row;

        .about-subtitle {
            margin-bottom: 3rem; 
            
        h1 {
            font-size: 1.7rem;
        }

        h2 {
            font-size: 1.3rem;
        }
    }

        .about-image {
            grid-column: 1/2;
            grid-row: 2;
            width: 500px;
            margin: 0;
        }

        .about-content {
            grid-row: 2;
        }
    }
}
