header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8%;

    @media screen and (min-width: $breakpoint-tablet) {
        display: block;
    }

    .logo {
        display: block;
        height: auto;
        width: 100px;
        position: relative;
        z-index: 100;

        a {
            display: block;
        }
        
        }
}
