.intro {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: 5.5rem auto;
    max-width: 1440px;
    
    .intro-text{
        // flex-basis: 30%;
        // width: 30%;
        // margin-right: 4rem;
        line-height: 1.4;
        

        .name{
            margin-top: 2rem;
            font-size: 3rem;
            line-height: 1;
        }
    }

    .intro-pic{
        // flex-basis: 70%;

    img{
        max-width: 100%;
        width: 500px;
        height: auto;
        filter: unset;
        margin-left: 4rem;


    }
    }

    .scroll {
        position: absolute;
        bottom: -6rem;
        left: 0;
        right: 0;
        text-align: center;
        display: none;

        @media screen and (min-width: $breakpoint-tablet){
            display: block;
        }
    }
}