@mixin font-regular-karla {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

@mixin font-bold-karla {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

@mixin button-cta {
    padding: 0.5rem 1rem;
    border-radius: 65px;
    font-size: 14px;
    text-transform: uppercase;
    transition: ease-in-out all .6s;
}

@mixin button-home {
    border: none;
    font-size: 1.4rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background: none;
    cursor: pointer;
    text-transform: lowercase;
}