@import url(https://fonts.googleapis.com/css?family=Cabin);

h1,
h2,
h3,
h4 {
    @include font-bold-karla;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 24px;
}

a,
li,
p {
    @include font-regular-karla;
    line-height: 1.5em;
}

p {
    font-size: 18px;
}

strong {
    font-weight: bold;
}
