// Colors
$colors: (
    light-grey: #cbd1dc,
    dark-grey: #555555,
    bright-white: #FFF,
    purple: #2F3676,

);

// Hamburger Button
$button-height: 27px;
$button-width: 35px;

//Media Query Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1000px;

// Margin from header
$marginHeader: 4rem;